<html>
    <head>
        <title>Майнор тест</title>
        <meta charset="UTF-8">
        <style>
            .correct {
                border: 3px solid green;
            }

            .uncorrect {
                border: 3px solid red;
            }
        </style>
    </head>
    <body>
        {% for item in questions %}
            <form class="question">
                <p> {{ item.question }}</p>
                {% for answer in item.answers %}
                    <p><input type="checkbox" value={{ "ok" if loop.index in item.right_answer else "wrong" }}>{{ answer }}</p>
                {% endfor %}
                <p><input type="submit" value="Выбрать"></p>
            </form>
        {% endfor %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $("input[type=submit]").click(function(event) {
            let elems = event.target.form.querySelectorAll("input[type=checkbox]");

            for (let i = 0; i < elems.length; i++) {
                elems[i].parentNode.className = '';
            }
            
            for (let i = 0; i < elems.length; i++) {
                if (elems[i].value === 'ok' && !elems[i].checked
                || elems[i].value === 'wrong' && elems[i].checked) {
                    elems[i].parentNode.className = 'uncorrect';
                }
            }

            for (let i = 0; i < elems.length; i++) {
                if (elems[i].value === 'ok') {
                    elems[i].parentNode.className = 'correct';
                }
            }

            return false;
        });
    </script>
</html>